version: '3.8'

services:
  # --- Service Base de Données (MariaDB) ---
  mariadb:
    image: mariadb:10.6
    container_name: mariadb_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: bibliotheque
      MYSQL_USER: root
      MYSQL_PASSWORD: root
    volumes:
      - mariadb_data:/var/lib/mysql
      # On s'assure que le script SQL est bien injecté au démarrage
      - ./bibliotheque.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "3306:3306" # Port standard pour que ton code Java local ou Docker s'y retrouve
    restart: always

  # --- Service Jenkins ---
  jenkins:
    image: jenkins/jenkins:lts-jdk17
    container_name: jenkins_server
    depends_on:
      - mariadb
    environment:
      - TZ=Europe/Paris
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "8080:8080" # On revient sur le port 8080 pour éviter toute confusion
      - "50000:50000"
    restart: always

volumes:
  mariadb_data:
  jenkins_home: